@page
@model Unleashed_RP.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTrackingNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTrackingNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderBillingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderBillingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderExpectedDeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderExpectedDeliveryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTransactionReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTransactionReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderCreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderCreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderUpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderUpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Discount.DiscountCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.InchargeEmployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.InchargeEmployee.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus.OrderStatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentMethod.PaymentMethodId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippingMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippingMethod.ShippingMethodId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.User.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
