@model IEnumerable<DAL.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsUserEnabled)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.UserUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.UserImage)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.UserCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsUserEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-username="@item.UserUsername">Edit</a> |
                    <a asp-action="Details" asp-route-username="@item.UserUsername">Details</a> |
                    <a asp-action="Delete" asp-route-username="@item.UserUsername">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
