@page
@model Unleashed_RP.Pages.Notifications.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationUsers[0].NotificationTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationUsers[0].IsViewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.NotificationUsers == null)
            {
                <div>No data</div>
            }
            else
            {
                foreach (var item in Model.NotificationUsers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsViewed)
                        </td>

                        <td>
                            <a asp-page="./Details" asp-route-id="@item.NotificationId">Details</a>
                        </td>
                    </tr>
                }
        }
        }
    </tbody>
</table>
